.about{
    margin: 30px;
}
.text{
    width: 800px;
    border: none;
    background-color: transparent;
    border-bottom: 1px solid plum;
    height: 2em;
    font-size: 1.3em;
}
.text-area{
    width: 800px;
    min-height: 6em;
    border: none;
    background-color: transparent;
    border-bottom: 1px solid plum;
    height: 2em;
    font-size: 1.3em;
}
.text:focus{
    border: none;
    outline: none;
    border-bottom: 3px solid plum;
}
.text-area:focus{
    border: none;
    outline: none;
    border-bottom: 3px solid plum;
}
.upload label{
    font-size: 1.3em;
}